<html>
    <head>
        <%= include_stylesheet 'app' %>
        <%= include_javascript 'index' %>

        <script type="module">
            import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
        </script>
    </head>
    <body>
        <%= yield %>
    </body>
</html>